
data/PublicStructures.txt
.DS_Store
src/.DS_Store
src/.ipynb_checkpoints/01_read_in_data_v1-checkpoint.ipynb
src/.ipynb_checkpoints/02_rdkit_prop_distributions-checkpoint.ipynb
src/.ipynb_checkpoints/03_basic_ML_models_for_comparison-checkpoint.ipynb
src/.ipynb_checkpoints/04_read_in_data_combined_inhib_killing-checkpoint.ipynb
src/.ipynb_checkpoints/05_assess_testset-checkpoint.ipynb
src/.ipynb_checkpoints/06_prep_libs_for_prediction_07_14_2021-checkpoint.ipynb
src/.ipynb_checkpoints/08_check_tan_scores_to_trainset_for_predicted_hits-checkpoint.ipynb
src/.ipynb_checkpoints/09_evaluate_final_tan_predictions-checkpoint.ipynb
src/.ipynb_checkpoints/10.0_check_overlap_between_37K_broad800k-checkpoint.ipynb
src/.ipynb_checkpoints/10.5_check_overlap_between_37K_2300_lib_08_30_2021-checkpoint.ipynb
src/.ipynb_checkpoints/11_validation_data_prep_for_ml_round2_08_06_2021-checkpoint.ipynb
src/.ipynb_checkpoints/12.0_val_models_evaluate_predictions_08_09_2021-checkpoint.ipynb
src/.ipynb_checkpoints/12.5_val_models_check_tan_scores_to_trainset_for_predicted_hits_08_10_2021-checkpoint.ipynb
src/.ipynb_checkpoints/13_val_models_evaluate_final_tan_predictions-checkpoint.ipynb
src/.ipynb_checkpoints/14_conf_models_assess_testset_08_14_2021-checkpoint.ipynb
src/.ipynb_checkpoints/15.1_validation_data_prep_for_ml_round3finalval08162021-checkpoint.ipynb
src/.ipynb_checkpoints/15.2_val_models_evaluate_predictions_round3finalval08162021-checkpoint.ipynb
src/.ipynb_checkpoints/15.3_val_models_check_tan_scores_to_trainset_for_predicted_hits_round3finalval08162021-checkpoint.ipynb
src/.ipynb_checkpoints/15.4_val_models_evaluate_final_tan_predictions_round3finalval08162021-checkpoint.ipynb
src/.ipynb_checkpoints/15.5_val_models_evaluate_final_tan_predictions_less_stringent_0.2threshold_round3finalval08162021-checkpoint.ipynb
src/.ipynb_checkpoints/15.6_val_models_check_tan_scores_allkilling_round3finalval08162021-checkpoint.ipynb
src/.ipynb_checkpoints/15.7_val_models_evaluate_final_tan_predictions_allkilling_round3finalval08162021-checkpoint.ipynb
src/.ipynb_checkpoints/16.0_round3finalval08162021_ian_experimental_val_09_06_2021-checkpoint.ipynb
src/.ipynb_checkpoints/16.1_round3finalval08162021_get_bottom_lowest_tan_thresh_09_06_2021-checkpoint.ipynb
src/.ipynb_checkpoints/16.2_round3finalval08162021_get_bottom_visualize_and_thresh_09_06_2021-checkpoint.ipynb
src/.ipynb_checkpoints/18.1_find_best_hyperparams_rfc_09_21_2021-checkpoint.ipynb
src/.ipynb_checkpoints/18_make_rfc_svm_hyperopt_script-Copy1-checkpoint.ipynb
src/.ipynb_checkpoints/19.0_round5finalpremcule10122021_visualize-checkpoint.ipynb
src/.ipynb_checkpoints/19.1_round5premcule101221_initial_train_plus_final_model_train_set_for_mcule-checkpoint.ipynb
src/.ipynb_checkpoints/19.2_analyze_final_model_round510122021_10_14_2021-checkpoint.ipynb
src/.ipynb_checkpoints/19.3_val_models_check_all_hits_and_find_nearest_neighbors_by_struct-checkpoint.ipynb
src/.ipynb_checkpoints/1F_visualize_molecules_and_prep_for_ML-checkpoint.ipynb
src/.ipynb_checkpoints/1G_Stokes_et_al_data_on_new_screen_data-checkpoint.ipynb
src/.ipynb_checkpoints/20.0_val_models_evaluate_mcule_predictions_round510122021-checkpoint.ipynb
src/.ipynb_checkpoints/20.1_val_models_check_tan_scores_to_trainset_for_predicted_mcule_round510122021-checkpoint.ipynb
src/.ipynb_checkpoints/20.2_val_models_evaluate_final_mcule_predictions_round510122021-checkpoint.ipynb
src/.ipynb_checkpoints/20.3_oldtox21_model_on_ian_preds_round510122021_10_20_2021-checkpoint.ipynb
src/.ipynb_checkpoints/20.4_process_data_for_tox_models_10_20_2021-checkpoint.ipynb
src/.ipynb_checkpoints/20.5_new_tox_models_on_ian_preds_round510122021_10_22_2021-checkpoint.ipynb
src/.ipynb_checkpoints/20.6_visualize_final_ian_molecules_11_19_2021-checkpoint.ipynb
src/.ipynb_checkpoints/21.0_quantitatively_assess_tox_models_12_08_2021-checkpoint.ipynb
src/.ipynb_checkpoints/22.0_statistical_sig_between_killalone_and_killinh_model_12_10_2021-checkpoint.ipynb
src/.ipynb_checkpoints/23.0_val_models_evaluate_koehler66_predictions_round510122021_12_13_2021-checkpoint.ipynb
src/.ipynb_checkpoints/23.1_val_models_check_tan_scores_to_trainset_for_predicted_koehler66_round510122021_12_13_2021-checkpoint.ipynb
src/.ipynb_checkpoints/23.2_val_models_evaluate_final_koehler66_predictions_round510122021_12_13_2021-checkpoint.ipynb
src/.ipynb_checkpoints/24.0_test_MOA_models_12_13_2021-checkpoint.ipynb
src/.ipynb_checkpoints/25.0_failure_analysis_final_mcule_mols_02_04_2022-checkpoint.ipynb
src/.ipynb_checkpoints/25.1_failure_analysis_final_mcule_mols_different_set_of_mols_02_07_2022-checkpoint.ipynb
src/.ipynb_checkpoints/25.2_get_structural_analogues_to_hits_to_add_to_order_02_08_2022-checkpoint.ipynb
src/.ipynb_checkpoints/25.3_new_tox_models_on_ian_hits_for_failure_analysis_02_08_2022-checkpoint.ipynb
src/.ipynb_checkpoints/25.3_new_tox_models_on_ian_hits_for_failure_analysis_02_08_2022-Copy1-checkpoint.ipynb
src/.ipynb_checkpoints/25.4_failure_analysis_final_mcule_mols_get_mols_to_order_02_08_2022-checkpoint.ipynb
src/.ipynb_checkpoints/25.5_failure_analysis_final_mcule_mols_get_mols_to_order_based_on_tsne_dist_02_10_2022-checkpoint.ipynb
src/.ipynb_checkpoints/26.0_plot_ian_killing_and_inh_hits_on_tsne_with_closest_abx-checkpoint.ipynb
src/.ipynb_checkpoints/26.1_edit_tsne_plot_ian_killing_and_inh_hits_on_tsne_with_closest_abx-checkpoint.ipynb
src/.ipynb_checkpoints/26.2_edit_tsne_plot_ian_killing_and_inh_hits_on_tsne_with_closest_abx_by_color_03_18_2022-checkpoint.ipynb
src/.ipynb_checkpoints/26.2_edit_tsne_plot_ian_killing_and_inh_hits_on_tsne_with_closest_abx_by_color_03_18_2022-Copy1-checkpoint.ipynb
src/.ipynb_checkpoints/27.1_evaluate_model_preds_32FINAL_extended_screen_set_05_06_2022-checkpoint.ipynb
src/.ipynb_checkpoints/27.2_evaluate_model_preds_32FINAL_broad800k_reanalyze_05_07_2022-checkpoint.ipynb
src/.ipynb_checkpoints/27.3_evaluate_model_preds_32FINAL_broad800k_reanalyze_hit_kill_0.2_05_09_2022-checkpoint.ipynb
src/.ipynb_checkpoints/27.3_evaluate_model_preds_32FINAL_broad800k_reanalyze_hit_kill_0.2_05_09_2022-Copy1-checkpoint.ipynb
src/.ipynb_checkpoints/27.5_evaluate_model_preds_32FINAL_hit0.1_tox0.1_tanabx0.9_tantrain1_broad800k_reanalyze_05_10_2022-checkpoint.ipynb
src/.ipynb_checkpoints/27.6_cluster_and_visualize_mols_code_for_aarti-checkpoint.ipynb
src/.ipynb_checkpoints/28.0_data_prep_for_ml_minus_micronomicin_round6nomicro05312022-checkpoint.ipynb
src/.ipynb_checkpoints/28.1_test_stokes_data_model_on_ian_data_05_31_2022-checkpoint.ipynb
src/.ipynb_checkpoints/28.2_plot_inhibition_data_replicates_for_adjuvant_data_05_31_2022-checkpoint.ipynb
src/.ipynb_checkpoints/28.3_killing_vs_inhibition_raw_data_plot_06_01_2022-checkpoint.ipynb
src/.ipynb_checkpoints/2_rdkit_prop_distributions-Copy1-checkpoint.ipynb
src/.ipynb_checkpoints/2A.1_make_shallow_model_script-checkpoint.ipynb
src/.ipynb_checkpoints/2A.2_hyperparameter_selection_for_shallow_models-checkpoint.ipynb
src/.ipynb_checkpoints/2A.3_hyperparameter_optimization_script_GNN-checkpoint.ipynb
src/.ipynb_checkpoints/2A.4_hyperparameter_selection_GNN-checkpoint.ipynb
src/.ipynb_checkpoints/2A.5_GNN_evaluation_on_test_set-checkpoint.ipynb
src/.ipynb_checkpoints/2C.1_predict_on_800K_with_GNN-checkpoint.ipynb
src/.ipynb_checkpoints/2C.2_calculate_tanimoto_similarity_of_hits-checkpoint.ipynb
src/.ipynb_checkpoints/2C.3_make_score_scatterplot_for_final_predictions-checkpoint.ipynb
src/.ipynb_checkpoints/2D_final_predictions_to_test_in_clusters_for_visualization-checkpoint.ipynb
src/.ipynb_checkpoints/2F_lowest_scoring_cpd_finalize_selection-checkpoint.ipynb
src/.ipynb_checkpoints/2H_3D_analyze_16_ML_hits_vs_84_original-checkpoint.ipynb
src/.ipynb_checkpoints/2I.1_train_final_model_with_primary_screen_and_ML_hits_for_interpretation-checkpoint.ipynb
src/.ipynb_checkpoints/2I.2_interpretation_rationales_on_cpds-checkpoint.ipynb
src/.ipynb_checkpoints/3A_tox_models_on_100_stat_phase_killing_cpds-checkpoint.ipynb
src/.ipynb_checkpoints/predict_on_testset_07_14_2021-checkpoint.ipynb
src/.ipynb_checkpoints/S2A_tsne_drh_800k_abx-checkpoint.ipynb
src/.ipynb_checkpoints/S2BCDE_evaluate_model_predictions-checkpoint.ipynb
src/.ipynb_checkpoints/S2F_tsne_with_all_actives-checkpoint.ipynb
src/.ipynb_checkpoints/S2Table_tox_models_agreement_with_actual_toxicity_data-checkpoint.ipynb
src/S2A_tsne_drh_800k_abx.ipynb
out/broad800k_model_predictions_08_20_2021.csv
out/drh_vs_broad800k_tsne_data_plus_annotated_mechanism_plus_val_ML_mols.csv
data/broad.npz
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_0/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_1/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_10/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_11/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_12/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_13/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_14/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_15/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_16/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_17/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_18/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_19/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_2/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_3/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_4/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_5/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_6/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_7/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_8/model.pkl
models/final_hyperopt_shallow_models_for_pub/FINALRFC76/fold_9/model.pkl
models/rfc_hyperopt_final/13/fold_2/model.pkl
models/rfc_hyperopt_final/13/fold_1/model.pkl
models/rfc_hyperopt_final/13/fold_0/model.pkl
models/rfc_hyperopt_final/20/fold_2/model.pkl
models/rfc_hyperopt_final/20/fold_1/model.pkl
models/rfc_hyperopt_final/20/fold_0/model.pkl
models/rfc_hyperopt_final/27/fold_0/model.pkl
models/rfc_hyperopt_final/27/fold_1/model.pkl
models/rfc_hyperopt_final/27/fold_2/model.pkl
models/rfc_hyperopt_final/34/fold_0/model.pkl
models/rfc_hyperopt_final/34/fold_1/model.pkl
models/rfc_hyperopt_final/34/fold_2/model.pkl
models/rfc_hyperopt_final/41/fold_0/model.pkl
models/rfc_hyperopt_final/41/fold_1/model.pkl
models/rfc_hyperopt_final/41/fold_2/model.pkl
models/rfc_hyperopt_final/48/fold_0/model.pkl
models/rfc_hyperopt_final/48/fold_1/model.pkl
models/rfc_hyperopt_final/48/fold_2/model.pkl
models/rfc_hyperopt_final/55/fold_0/model.pkl
models/rfc_hyperopt_final/55/fold_1/model.pkl
models/rfc_hyperopt_final/55/fold_2/model.pkl
models/rfc_hyperopt_final/62/fold_0/model.pkl
models/rfc_hyperopt_final/62/fold_1/model.pkl
models/rfc_hyperopt_final/62/fold_2/model.pkl
models/rfc_hyperopt_final/6/fold_0/model.pkl
models/rfc_hyperopt_final/6/fold_1/model.pkl
models/rfc_hyperopt_final/6/fold_2/model.pkl
models/rfc_hyperopt_final/69/fold_0/model.pkl
models/rfc_hyperopt_final/69/fold_1/model.pkl
models/rfc_hyperopt_final/69/fold_2/model.pkl
models/rfc_hyperopt_final/76/fold_0/model.pkl
models/rfc_hyperopt_final/76/fold_1/model.pkl
models/rfc_hyperopt_final/76/fold_2/model.pkl
models/rfc_hyperopt_final/83/fold_0/model.pkl
models/rfc_hyperopt_final/83/fold_1/model.pkl
models/rfc_hyperopt_final/83/fold_2/model.pkl
